# Exercise 4.6 Orders_Products_Prior

### Imports

In [27]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [28]:
# File pathway shortcut
path = r'C:\Users\Chase\anaconda_projects\Exercise 4\07-2025 Instacart Basket Analysis'

In [29]:
# Prepared - Orders Checked csv file pathway
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [30]:
# Original - order_products_prior csv file pathway
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

### 01 Data Check

In [9]:
# Check the output
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,0.0,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [10]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
df_ords.shape

(3421083, 7)

In [12]:
df_ords_prior.shape

(32434489, 4)

### Duplicate Check

In [13]:
# Returns True if any duplicate rows exist
df_ords_prior.duplicated().any()

np.False_

### Missing values

In [14]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

### Data Types

In [15]:
df_ords_prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

# Rework the merge

In [31]:
df_ords_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [32]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [33]:
df_ords

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,0.0,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False
...,...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0,False
3421079,1854736,206209,11,4,10,30.0,False
3421080,626363,206209,12,1,12,18.0,False
3421081,2977660,206209,13,1,12,7.0,False
3421082,272231,206209,14,6,14,30.0,False

In [34]:
df_ords.isnull().sum()

order_id                  0
user_id                   0
order_number              0
orders_day_of_week        0
order_hour_of_day         0
days_since_prior_order    0
first_order               0
dtype: int64

In [35]:
# Confirm Merge Key Integrit
print(df_ords_prior['order_id'].nunique())
print(df_ords['order_id'].nunique())

3214874
3421083

In [36]:
# Change the merge
df_merged_large = pd.merge(df_ords_prior, df_ords, on='order_id', how='left')

In [37]:
missing_mask = df_merged_large['user_id'].isnull()
print(f"Missing metadata rows: {missing_mask.sum()}")

Missing metadata rows: 0

In [38]:
print(len(df_ords['order_id'].unique()))        
print(len(df_ords_prior['order_id'].unique()))

3421083
3214874

In [39]:
df_merged_large.shape

(32434489, 10)

### 03 Export

In [40]:
# Pickle Export
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))