# Exercise 4.6 - Merge

### 01 Imports

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# File pathway shortcut
path = r'C:\Users\Chase\anaconda_projects\Exercise 4\07-2025 Instacart Basket Analysis'

In [3]:
# Prepared - Pickle
df_prods_combined = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Prepared - Products Checked
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

### 02 Data Check

In [5]:
# Comparing the shape from the orginal merge/export to the import shape
df_prods_combined.shape

(32434489, 10)

The shape matches, good to go.

In [6]:
# Data check
df_prods.shape

(49672, 5)

In [7]:
df_prods_combined

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2,33120,1,1,202279,3,5,9,8.0,False
1,2,28985,2,1,202279,3,5,9,8.0,False
2,2,9327,3,0,202279,3,5,9,8.0,False
3,2,45918,4,1,202279,3,5,9,8.0,False
4,2,30035,5,0,202279,3,5,9,8.0,False
...,...,...,...,...,...,...,...,...,...,...
32434484,3421083,39678,6,1,25247,24,2,6,21.0,False
32434485,3421083,11352,7,0,25247,24,2,6,21.0,False
32434486,3421083,4600,8,0,25247,24,2,6,21.0,False
32434487,3421083,24852,9,1,25247,24,2,6,21.0,False
32434488,3421083,5020,10,1,25247,24,2,6,21.0,False

In [8]:
df_prods

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49667,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49686,Artisan Baguette,112,3,7.8
49670,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49688,Fresh Foaming Cleanser,73,11,13.5

### 03 Merge

Looking at the headers, I see the the join key is products_id and that I want to move everything over from df_prods. A left join would be the merge type used.

In [9]:
# Select only the columns you want to bring in from df_prods
product_cols = ['product_id', 'product_name', 'aisle_id', 'department_id', 'prices']

# Perform the merge
df_ords_prods_merge = df_prods_combined.merge(
    df_prods[product_cols],
    on='product_id',
    how='left',
    indicator=True
)

Copilot explained the error I ran into when running the above code. Basically the error was because I tried to create another _merge column. So working with Copilot, we came up with a way to safely remove the _merge from both df_prds and df_prods_combined if it exsists.

In [10]:
# Code to safely remove the _merge columns from
for df in [df_prods_combined, df_prods]:
    if '_merge' in df.columns:
        df.drop(columns='_merge', inplace=True)

In [11]:
# Data check
df_prods

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49667,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49686,Artisan Baguette,112,3,7.8
49670,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49688,Fresh Foaming Cleanser,73,11,13.5

In [12]:
# Data check
df_prods_combined

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2,33120,1,1,202279,3,5,9,8.0,False
1,2,28985,2,1,202279,3,5,9,8.0,False
2,2,9327,3,0,202279,3,5,9,8.0,False
3,2,45918,4,1,202279,3,5,9,8.0,False
4,2,30035,5,0,202279,3,5,9,8.0,False
...,...,...,...,...,...,...,...,...,...,...
32434484,3421083,39678,6,1,25247,24,2,6,21.0,False
32434485,3421083,11352,7,0,25247,24,2,6,21.0,False
32434486,3421083,4600,8,0,25247,24,2,6,21.0,False
32434487,3421083,24852,9,1,25247,24,2,6,21.0,False
32434488,3421083,5020,10,1,25247,24,2,6,21.0,False

In [13]:
df_prods_combined.shape

(32434489, 10)

In [14]:
# Check merge flags
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only        30200
right_only           0
Name: count, dtype: int64

In [15]:
# Check shape
df_ords_prods_merge.shape

(32435059, 15)

In [16]:
# Check headers
print(df_ords_prods_merge.columns.tolist())

['order_id', 'product_id', 'add_to_cart_order', 'reordered', 'user_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order', 'first_order', 'product_name', 'aisle_id', 'department_id', 'prices', '_merge']

# Troubleshooting

In [17]:
# Double check headers before export
print(df_ords_prods_merge.columns.tolist())

['order_id', 'product_id', 'add_to_cart_order', 'reordered', 'user_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order', 'first_order', 'product_name', 'aisle_id', 'department_id', 'prices', '_merge']

Headers look good

In [18]:
df_ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_name,aisle_id,department_id,prices,_merge
0,2,33120,1,1,202279,3,5,9,8.0,False,Organic Egg Whites,86.0,16.0,11.3,both
1,2,28985,2,1,202279,3,5,9,8.0,False,Michigan Organic Kale,83.0,4.0,13.4,both
2,2,9327,3,0,202279,3,5,9,8.0,False,Garlic Powder,104.0,13.0,3.6,both
3,2,45918,4,1,202279,3,5,9,8.0,False,Coconut Butter,19.0,13.0,8.4,both
4,2,30035,5,0,202279,3,5,9,8.0,False,Natural Sweetener,17.0,13.0,13.7,both

In [19]:
df_ords_prods_merge['prices'].value_counts(dropna=False).head(10)

prices
12.3    624261
10.3    510496
4.0     447272
6.3     438467
1.3     425691
7.3     411924
8.2     404015
1.4     392209
6.7     379126
4.5     367223
Name: count, dtype: int64

#### Investigate 99999s

In [20]:
df_99999 = df_ords_prods_merge[df_ords_prods_merge['prices'] == 99999]

In [21]:
(df_ords_prods_merge['prices'] == 99999).sum()

np.int64(698)

In [22]:
df_99999

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_name,aisle_id,department_id,prices,_merge
45415,4783,33664,13,0,108505,34,2,13,10.0,False,2 % Reduced Fat Milk,84.0,16.0,99999.0,both
130950,13820,33664,6,0,191672,25,0,22,6.0,False,2 % Reduced Fat Milk,84.0,16.0,99999.0,both
156285,16454,33664,10,1,74750,24,5,15,2.0,False,2 % Reduced Fat Milk,84.0,16.0,99999.0,both
159095,16749,33664,9,1,167224,18,2,14,6.0,False,2 % Reduced Fat Milk,84.0,16.0,99999.0,both
169030,17778,33664,9,0,7608,2,2,8,1.0,False,2 % Reduced Fat Milk,84.0,16.0,99999.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32307286,3407607,33664,9,1,14872,17,4,21,13.0,False,2 % Reduced Fat Milk,84.0,16.0,99999.0,both
32324302,3409400,33664,1,1,70851,10,5,9,5.0,False,2 % Reduced Fat Milk,84.0,16.0,99999.0,both
32368175,3414106,33664,5,1,111487,25,6,7,9.0,False,2 % Reduced Fat Milk,84.0,16.0,99999.0,both
32402756,3417702,33664,13,0,70821,5,2,14,18.0,False,2 % Reduced Fat Milk,84.0,16.0,99999.0,both
32434790,3421047,33664,6,0,98554,4,1,11,4.0,False,2 % Reduced Fat Milk,84.0,16.0,99999.0,both

In [23]:
df_99999[['product_id', 'product_name']].drop_duplicates().sort_values('product_id')

       product_id           product_name
45415       33664  2 % Reduced Fat  Milk

In [24]:
milk_prices = df_ords_prods_merge[df_ords_prods_merge['product_name'] == "2% Reduced Fat Milk"]

In [25]:
valid_milk_prices = milk_prices[milk_prices['prices'] != 99999.0]

In [26]:
# Check actual prices
valid_milk_prices['prices'].value_counts().sort_index()

prices
9.2    37091
Name: count, dtype: int64

2% Reduced Fat Milk price is $9.20

In [27]:
# Impute the correct price to the 99999s
df_ords_prods_merge.loc[
    (df_ords_prods_merge['product_name'] == "2% Reduced Fat Milk") &
    (df_ords_prods_merge['prices'] == 99999.0),
    'prices'
] = 9.2

In [28]:
# work check
df_ords_prods_merge['prices'].max()

99999.0

So there are other 99999s as well

In [29]:
# Check all products with 99999s
df_ords_prods_merge[df_ords_prods_merge['prices'] == 99999.0]['product_name'].value_counts()

product_name
2 % Reduced Fat  Milk    698
Name: count, dtype: int64

In [30]:
milk_variant = df_ords_prods_merge[df_ords_prods_merge['product_name'] == "2 % Reduced Fat  Milk"]
valid_prices = milk_variant[milk_variant['prices'] != 99999.0]['prices'].value_counts()
print(valid_prices)

Series([], Name: count, dtype: int64)

In [31]:
df_ords_prods_merge.loc[
    (df_ords_prods_merge['product_name'] == "2 % Reduced Fat  Milk") &
    (df_ords_prods_merge['prices'] == 99999.0),
    'prices'
] = 9.2

In [32]:
df_ords_prods_merge[
    (df_ords_prods_merge['product_name'] == "2 % Reduced Fat  Milk") &
    (df_ords_prods_merge['prices'] == 99999.0)
]

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, first_order, product_name, aisle_id, department_id, prices, _merge]
Index: []

In [33]:
# work check
df_ords_prods_merge['prices'].max()

14900.0

#### Next Max Price

In [34]:
df_ords_prods_merge['prices'].sort_values(ascending=False).head(10)

7347686     14900.0
2460618     14900.0
22121564    14900.0
18431467    14900.0
11539563    14900.0
20949129    14900.0
22314383    14900.0
18568146    14900.0
6074158     14900.0
15136427    14900.0
Name: prices, dtype: float64

In [35]:
price_counts = df_ords_prods_merge['prices'].value_counts(dropna=False).sort_index()

In [36]:
# Filter for product_id 21553
df_prods[df_prods['product_id'] == 21553]['prices'].value_counts(dropna=False)

prices
14900.0    1
Name: count, dtype: int64

In [37]:
df_prods[df_prods['product_name'].str.contains("cottage cheese", case=False)]['prices'].value_counts()

prices
6.5        3
3.3        2
2.2        2
8.4        2
5.6        2
9.4        2
2.0        2
1.3        2
7.0        2
3.0        2
8.0        2
9.5        1
2.7        1
12.0       1
8.6        1
15.0       1
5.8        1
6.9        1
2.4        1
3.8        1
11.8       1
2.3        1
5.3        1
9.2        1
14900.0    1
6.7        1
6.8        1
10.4       1
9.3        1
4.9        1
3.1        1
9.6        1
7.7        1
11.4       1
8.2        1
12.3       1
3.9        1
7.5        1
7.2        1
2.1        1
11.5       1
6.1        1
8.9        1
4.7        1
1.9        1
11.6       1
13.5       1
13.7       1
10.5       1
12.1       1
1.1        1
11.9       1
1.6        1
1.8        1
9.7        1
3.4        1
12.6       1
6.4        1
3.7        1
Name: count, dtype: int64

In [38]:
# use median price for cottage cheese
median_price = df_prods[df_prods['product_name'].str.contains("cottage cheese", case=False)]['prices'].median()

df_prods.loc[
    (df_prods['product_id'] == 21553) & (df_prods['prices'] == 14900.0),
    'prices'
] = median_price

In [39]:
df_prods[df_prods['product_id'] == 21553]

,product_id,product_name,aisle_id,department_id,prices
21538,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,6.8

In [40]:
df_ords_prods_merge['prices'].sort_values(ascending=False).head(10)

7347686     14900.0
2460618     14900.0
22121564    14900.0
18431467    14900.0
11539563    14900.0
20949129    14900.0
22314383    14900.0
18568146    14900.0
6074158     14900.0
15136427    14900.0
Name: prices, dtype: float64

In [41]:
df_ords_prods_merge[df_ords_prods_merge['prices'] == 14900.0][['product_id', 'product_name']].value_counts()

product_id  product_name
21553       Lowfat 2% Milkfat Cottage Cheese    4429
Name: count, dtype: int64

In [42]:
df_prods.loc[df_prods['product_id'] == 21553, 'prices'] = median_price

In [43]:
df_ords_prods_merge.loc[
    (df_ords_prods_merge['product_id'] == 21553) &
    (df_ords_prods_merge['prices'] == 14900.0),
    'prices'
] = median_price

In [44]:
df_ords_prods_merge['prices'].sort_values(ascending=False).head(10)

16442874    25.0
12347351    25.0
28633726    25.0
636527      25.0
18810923    25.0
5705603     25.0
15584548    25.0
13444108    25.0
23924718    25.0
22122264    25.0
Name: prices, dtype: float64

In [45]:
df_ords_prods_merge[df_ords_prods_merge['prices'] == 14900.0]['product_id'].value_counts()

Series([], Name: count, dtype: int64)

In [46]:
df_prods[df_prods['product_id'] == 21553]

,product_id,product_name,aisle_id,department_id,prices
21538,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,6.8

In [47]:
# work check
df_ords_prods_merge['prices'].max()

25.0

# 05 Export

In [48]:
# Check that the headers are good to go
df_ords_prods_merge.columns.tolist()

['order_id',
 'product_id',
 'add_to_cart_order',
 'reordered',
 'user_id',
 'order_number',
 'orders_day_of_week',
 'order_hour_of_day',
 'days_since_prior_order',
 'first_order',
 'product_name',
 'aisle_id',
 'department_id',
 'prices',
 '_merge']

In [49]:
# ords+prods_merge to export as pickle file - temp file
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_v1.pkl'))

In [ ]:
# ords+prods_merge to export as pickle file
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))