# Reading Exercise 4.7

1. [01 Imports]
2. [02 Practice with 1 Million Rows]
3. [03 Full Dataset Exploration]

### 01 Imports

In [4]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [5]:
# File pathway shortcut
path = r'C:\Users\Chase\anaconda_projects\Exercise 4\07-2025 Instacart Basket Analysis'

In [7]:
# Prepared file - Orders_Products_Merge
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_v1.pkl'))

In [3]:
# Prepared file - Orders_Products_Merge
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [3]:
# Prepared file - Orders_Products_Merge
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_temp.pkl'))

In [8]:
print(df_ords_prods_merge.columns.tolist())

['order_id', 'product_id', 'add_to_cart_order', 'reordered', 'user_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order', 'first_order', 'product_name', 'aisle_id', 'department_id', 'prices', '_merge']

In [9]:
df_ords_prods_merge.shape

(32435059, 15)

In [10]:
# Create a subset because the df_ords_prods_merge is very big and will use up too much memory and processing power
df = df_ords_prods_merge[:1000000]

In [11]:
# if statement - product price range
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [12]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Chase\AppData\Local\Temp\ipykernel_10680\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [13]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    673753
Low-range product    312617
High range            12739
Not enough data         891
Name: count, dtype: int64

In [14]:
df['prices'].max()

25.0

In [15]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\Chase\AppData\Local\Temp\ipykernel_10680\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [16]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [17]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [18]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    673753
Low-range product    312617
High range            12739
Not enough data         891
Name: count, dtype: int64

In [19]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

### 03 Full Dataset Exploration

In [20]:
df_ords_prods_merge

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,2,33120,1,1,202279,3,5,9,8.0,False,Organic Egg Whites,86.0,16.0,11.3,both,NaN
1,2,28985,2,1,202279,3,5,9,8.0,False,Michigan Organic Kale,83.0,4.0,13.4,both,NaN
2,2,9327,3,0,202279,3,5,9,8.0,False,Garlic Powder,104.0,13.0,3.6,both,NaN
3,2,45918,4,1,202279,3,5,9,8.0,False,Coconut Butter,19.0,13.0,8.4,both,NaN
4,2,30035,5,0,202279,3,5,9,8.0,False,Natural Sweetener,17.0,13.0,13.7,both,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32435054,3421083,39678,6,1,25247,24,2,6,21.0,False,Free & Clear Natural Dishwasher Detergent,74.0,17.0,7.1,both,NaN
32435055,3421083,11352,7,0,25247,24,2,6,21.0,False,Organic Mini Sandwich Crackers Peanut Butter,78.0,19.0,2.8,both,NaN
32435056,3421083,4600,8,0,25247,24,2,6,21.0,False,All Natural French Toast Sticks,52.0,1.0,5.8,both,NaN
32435057,3421083,24852,9,1,25247,24,2,6,21.0,False,Banana,24.0,4.0,12.3,both,NaN
32435058,3421083,5020,10,1,25247,24,2,6,21.0,False,Organic Sweet & Salty Peanut Pretzel Granola ...,3.0,19.0,3.2,both,NaN

In [21]:
# if statement - product price range
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [22]:
# Create new column for price range
df_ords_prods_merge['price_range'] = df_ords_prods_merge.apply(price_label, axis=1)

In [23]:
# Data Check
df_ords_prods_merge['price_range'].value_counts(dropna=False)

price_range
Mid-range product    21865987
Low-range product    10126321
High range             412551
Not enough data         30200
Name: count, dtype: int64

In [24]:
# Orders_day_of_week - Printing the Frequency to see the busiest day
df_ords_prods_merge['orders_day_of_week'].value_counts()

orders_day_of_week
0    6209808
1    5665951
6    4500391
2    4217868
5    4209603
3    3844175
4    3787263
Name: count, dtype: int64

In [25]:
# Error with order_days_of_week so I need to find the actual header
df_ords_prods_merge.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered', 'user_id',
       'order_number', 'orders_day_of_week', 'order_hour_of_day',
       'days_since_prior_order', 'first_order', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merge', 'price_range_loc', 'price_range'],
      dtype='object')

In [26]:
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [27]:
df_ords_prods_merge['busiest_day'] = result

In [28]:
df_ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22437988
Busiest day        6209808
Least busy         3787263
Name: count, dtype: int64

In [29]:
print(df_ords_prods_merge.columns.tolist())

['order_id', 'product_id', 'add_to_cart_order', 'reordered', 'user_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order', 'first_order', 'product_name', 'aisle_id', 'department_id', 'prices', '_merge', 'price_range_loc', 'price_range', 'busiest_day']

# Exercise 4.7

4. [Data Wrangling/Cleaning]
5. [01 Drop Duplicates]
6. [Instacart Buesiest Hours/Days]
7. [02 Categorize Busiest Days]
8. [03 Label Busiest Hours]
9. [04 Export Cleaned Dataset]

## Data Wrangling/Cleaning

### 01 Dropping Duplicate

In [30]:
# Dropping price_range_loc because it's a duplicate of price_range
df_ords_prods_merge = df_ords_prods_merge.drop(columns='price_range_loc')

In [31]:
# Checking Drop
df_ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day
0,2,33120,1,1,202279,3,5,9,8.0,False,Organic Egg Whites,86.0,16.0,11.3,both,Mid-range product,Regularly busy
1,2,28985,2,1,202279,3,5,9,8.0,False,Michigan Organic Kale,83.0,4.0,13.4,both,Mid-range product,Regularly busy
2,2,9327,3,0,202279,3,5,9,8.0,False,Garlic Powder,104.0,13.0,3.6,both,Low-range product,Regularly busy
3,2,45918,4,1,202279,3,5,9,8.0,False,Coconut Butter,19.0,13.0,8.4,both,Mid-range product,Regularly busy
4,2,30035,5,0,202279,3,5,9,8.0,False,Natural Sweetener,17.0,13.0,13.7,both,Mid-range product,Regularly busy

## Instacart Busiest Hours/Days

### 02 Categorize Busiest Days

In [32]:
# Check the top 2 busiest days and the bottom 2 lowest days 
df_ords_prods_merge['orders_day_of_week'].value_counts()

orders_day_of_week
0    6209808
1    5665951
6    4500391
2    4217868
5    4209603
3    3844175
4    3787263
Name: count, dtype: int64

Busiest Days: 0 = Saturday & 1 = Sunday
Slowest Days: 4 = Wednesday & 3 = Tuesday

In [33]:
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value in [0, 1]:    # Saturday or Sunday
    result.append("Busiest days")
  elif value in [3, 4]:  # Tuesday or Wednesday
    result.append("Least busy")
  else:                  # Monday or Thursday or Friday
    result.append("Regularly busy")

In [34]:
# Check data
df_ords_prods_merge['orders_day_of_week'].value_counts()

orders_day_of_week
0    6209808
1    5665951
6    4500391
2    4217868
5    4209603
3    3844175
4    3787263
Name: count, dtype: int64

In [35]:
# Check Busiest day 
df_ords_prods_merge["busiest_day"].value_counts()

busiest_day
Regularly busy    22437988
Busiest day        6209808
Least busy         3787263
Name: count, dtype: int64

Busiest days are about double the least busiest days

### 03 Label Busiest Hours

In [36]:
# Checking headers for hours in the day naming
df_ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day
0,2,33120,1,1,202279,3,5,9,8.0,False,Organic Egg Whites,86.0,16.0,11.3,both,Mid-range product,Regularly busy
1,2,28985,2,1,202279,3,5,9,8.0,False,Michigan Organic Kale,83.0,4.0,13.4,both,Mid-range product,Regularly busy
2,2,9327,3,0,202279,3,5,9,8.0,False,Garlic Powder,104.0,13.0,3.6,both,Low-range product,Regularly busy
3,2,45918,4,1,202279,3,5,9,8.0,False,Coconut Butter,19.0,13.0,8.4,both,Mid-range product,Regularly busy
4,2,30035,5,0,202279,3,5,9,8.0,False,Natural Sweetener,17.0,13.0,13.7,both,Mid-range product,Regularly busy

'order_hour_of_day' is the column header

In [37]:
# Checking for the busiest hour of day
df_ords_prods_merge["order_hour_of_day"].value_counts().sort_index()

order_hour_of_day
0      218951
1      115787
2       69435
3       51321
4       53284
5       88064
6      290796
7      891951
8     1719991
9     2456751
10    2764476
11    2738647
12    2620898
13    2663346
14    2691598
15    2664583
16    2537506
17    2089510
18    1637956
19    1259416
20     977049
21     796379
22     634743
23     402621
Name: count, dtype: int64

In [38]:
# Count orders per hour
hour_counts = df_ords_prods_merge['order_hour_of_day'].value_counts().sort_index()

In [39]:
# New variable to working hours counted list
sorted_hours= hour_counts.sort_values(ascending=False)

In [40]:
# Checking list
sorted_hours

order_hour_of_day
10    2764476
11    2738647
14    2691598
15    2664583
13    2663346
12    2620898
16    2537506
9     2456751
17    2089510
8     1719991
18    1637956
19    1259416
20     977049
7      891951
21     796379
22     634743
23     402621
6      290796
0      218951
1      115787
5       88064
2       69435
4       53284
3       51321
Name: count, dtype: int64

In [41]:
# sorted hours to df_sorted_hours
df_sorted_hours = sorted_hours.to_frame()

In [42]:
# This keeps sorted_hours untouched and the total hours: 24 (0-23)
n = len(df_sorted_hours)

In [43]:
# Top 8: Dividing the hours into 1/3s most/avg/fewest
most = df_sorted_hours.head(n // 3).index.tolist()

In [44]:
# Bottom 8: Dividing the hours into 1/3s most/avg/fewest
fewest = df_sorted_hours.tail(n // 3).index.tolist()

In [45]:
# Average 8: Dividing the hours into 1/3s most/avg/fewest
average = [h for h in df_sorted_hours.index if h not in most + fewest]

In [46]:
# Labeling Step
result = []
for hour in df_sorted_hours.index.tolist():
    if hour in most:
        result.append("Most orders")
    elif hour in fewest:
        result.append("Fewest orders")
    else:
        result.append("Average orders")

In [47]:
# Sanity check
print("Length of result:", len(result))
print("Length of df_sorted_hours:", len(df_sorted_hours))

Length of result: 24
Length of df_sorted_hours: 24

In [48]:
df_sorted_hours["busiest_period_of_day"] = result

In [49]:
df_sorted_hours["busiest_period_of_day"].value_counts()

busiest_period_of_day
Most orders       8
Average orders    8
Fewest orders     8
Name: count, dtype: int64

In [50]:
# Create mapping dictionary
hour_labels = df_sorted_hours["busiest_period_of_day"].to_dict()

In [51]:
# Apply to full dataset
df_ords_prods_merge["busiest_period_of_day"] = df_ords_prods_merge["order_hour_of_day"].map(hour_labels)

In [52]:
# Print frequency
print(df_ords_prods_merge["busiest_period_of_day"].value_counts(dropna=False))

busiest_period_of_day
Most orders       21137805
Average orders    10006995
Fewest orders      1290259
Name: count, dtype: int64

# Finding Time of Day customers spend the most

In [53]:
hourly_spending = df_ords_prods_merge.groupby('order_hour_of_day')['prices'].sum().reset_index()

In [54]:
top_5_hours = hourly_spending.sort_values(by='prices', ascending=False).head(5)

In [55]:
print(top_5_hours)

    order_hour_of_day      prices
10                 10  21403045.1
11                 11  21265101.8
14                 14  20982570.0
15                 15  20780281.4
13                 13  20737660.2

In [56]:
df_ords_prods_merge.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_period_of_day
0,2,33120,1,1,202279,3,5,9,8.0,False,Organic Egg Whites,86.0,16.0,11.3,both,Mid-range product,Regularly busy,Most orders
1,2,28985,2,1,202279,3,5,9,8.0,False,Michigan Organic Kale,83.0,4.0,13.4,both,Mid-range product,Regularly busy,Most orders
2,2,9327,3,0,202279,3,5,9,8.0,False,Garlic Powder,104.0,13.0,3.6,both,Low-range product,Regularly busy,Most orders
3,2,45918,4,1,202279,3,5,9,8.0,False,Coconut Butter,19.0,13.0,8.4,both,Mid-range product,Regularly busy,Most orders
4,2,30035,5,0,202279,3,5,9,8.0,False,Natural Sweetener,17.0,13.0,13.7,both,Mid-range product,Regularly busy,Most orders

## 04 Export

In [57]:
# Pickle Export
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_v1.pkl'))